.about {
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgb(221, 251, 231),rgb(255, 255, 255) 100%);
    padding-top: clamp(2rem, 3vw + 0.75rem, 5rem);
    padding-bottom: clamp(1rem, 2vw + 0.25rem, 3rem);
    &__title {
        text-align: center;
        margin-bottom: clamp(2rem, 2vw + 1rem, 4.5rem);
    }
    &__short-info {
        font-weight: 400;
        font-size: clamp(1.8rem, 1.5vw + 0.75rem, 2.4rem);
        line-height: 1.2;
        text-align: center;
        margin-bottom: 30px;
    }
    &__qualifications {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: clamp(2rem, 6vw - 0.25rem, 10rem);
    }
}

.qualification {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__img {
        width: clamp(3rem, 4vw + 0.75rem, 6.5rem);
        height: clamp(3rem, 4vw + 0.75rem, 6.5rem);
    }
    &__text {
        font-weight: 400;
        font-size: clamp(1.8rem, 1.5vw + 0.75rem, 2.8rem);
        line-height: 1.2;
        text-align: center;
    }
}
