.achievements {
    background: radial-gradient(50.00% 50.00% at 50% 50%,rgb(221, 251, 231),rgba(255, 255, 255, 0) 100%);
    padding-top: 50px;
    padding-bottom: 30px;
    &__title {
        text-align: center;
    }
}
