@use "../variables" as var;

.achievements {
    background: radial-gradient(
        50% 50% at 50% 50%,
        rgb(221, 251, 231),
        rgba(255, 255, 255, 0) 100%
    );
    padding-top: clamp(2rem, 3vw + 0.75rem, 5rem);
    padding-bottom: clamp(1rem, 2vw + 0.25rem, 3rem);
    &__title {
        text-align: center;
        margin-bottom: clamp(10rem, 12vw + 1rem, 15rem);
    }
    &__gallery {
        position: relative;
        margin: 0 auto;
    }
    .swiper-button-next,
    .swiper-button-prev {
        position: absolute;
        top: -70px;
        right: 0;
        width: clamp(4rem, 5vw + 1rem, 7rem);
        height: clamp(4rem, 5vw + 1rem, 7rem);
        background-color: rgba(255, 234, 143, 0.2);
        border-radius: 100%;
        &::after {
            font-size: clamp(2.5rem, 2vw + 1.25rem, 4rem);
        }
        @media (max-width: 1440px) {
            top: -60px;
        }
        @media (max-width: 920px) {
            top: -40px;
        }
    }
    .swiper-button-prev {
        left: initial;
        right: 75px;
        @media (max-width: 768px){
            right: 50px;
        }
    }
}

.achievements-slider {
    &__image {
        text-align: center;
        & img {
            max-width: 100%;
            max-height: 450px!important;
            border: 2px solid rgba(127, 206, 255, 0.5);
            border-radius: 20px;
            cursor: zoom-in;
            @media (max-width: 576px){
                cursor: auto;
            }
        }
    }
}
