@use "../variables" as var;

.events {
    background: radial-gradient(59.00% 59.00% at 50% 50%,rgba(129, 255, 221, 0.39),rgba(196, 196, 196, 0) 100%);
    padding-top: clamp(2rem, 3vw + 0.75rem, 5rem);
    padding-bottom: clamp(1rem, 2vw + 0.25rem, 3rem);
    &__title {
        text-align: center;
        margin-bottom: clamp(2rem, 2vw + 1rem, 4.5rem);
    }
    &__cards {
        display: flex;
        gap: clamp(2rem, 3vw + 0.75rem, 6rem);
        justify-content: center;
        margin-bottom: 35px;
        &--fullpage {
            flex-wrap: wrap;
        }
        @media (max-width: 1040px){
            flex-wrap: wrap;
        }
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: clamp(30rem, 35vw + 0.75rem, 50rem);
        width: 100%;
        padding: 20px 15px;
        border: 2px solid rgba(21, 74, 60, 0.39);
        border-radius: 10px;
    }
    &__card-img {
        width: 100%;
        max-height: 250px;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 25px;
    }
    &__card-title {
        font-size: clamp(2rem, 1.5vw + 0.75rem, 2.4rem);
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 16px;
    }
    &__card-text {
        font-size: clamp(1.6rem, 1vw + 0.75rem, 1.8rem);
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 20px;
    }
    &__card-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__card-date {
        font-size: 16px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.6);
    }
    &__card-link {
        font-size: clamp(1.6rem, 1vw + 0.75rem, 1.8rem);
        font-weight: 700;
        color: rgb(74, 217, 255);
    }
    &__showall {
        border: 2px solid rgba(21, 74, 60, 0.39);
    }
}
