@use "../variables" as var;

.events {
    background: radial-gradient(59.00% 59.00% at 50% 50%,rgba(129, 255, 221, 0.39),rgba(196, 196, 196, 0) 100%);
    padding-top: 50px;
    padding-bottom: 30px;
    &__title {
        text-align: center;
        margin-bottom: 30px;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 500px);
        justify-content: space-around;
        margin-bottom: 60px;
    }
    &__card {
        display: grid;
        grid-template-rows: subgrid;
        grid-row: 1 / 5;
        padding: 20px 15px;
        border: 2px solid rgba(21, 74, 60, 0.39);
        border-radius: 10px;
    }
    &__card-img {
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 25px;
    }
    &__card-title {
        font-size: 24px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 16px;
    }
    &__card-text {
        font-size: 18px;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 20px;
    }
    &__card-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__card-date {
        font-size: 16px;
        font-weight: 700;
        color: rgba(0, 0, 0, 0.6);
    }
    &__card-link {
        font-size: 18px;
        font-weight: 700;
        color: rgb(74, 217, 255);
    }
    &__showall {
        width: 280px;
        height: 70px;
        color: var.$button-text;
        background-color: transparent;
        font-size: 20px;
        font-weight: 700;
        display: block;
        margin: 0 auto;
        border: 2px solid rgb(50, 29, 113);
        border-radius: 10px;
    }
}
