@use "../variables" as var;

.feedback {
    background: radial-gradient(57% 57% at 50% 50%, rgba(255, 210, 82, 0.63), rgba(196, 196, 196, 0) 100%);
    padding-top: clamp(2rem, 3vw + 0.75rem, 5rem);
    padding-bottom: clamp(1rem, 2vw + 0.25rem, 3rem);
    &__title {
        text-align: center;
        margin-bottom: clamp(2rem, 2vw + 1rem, 4.5rem);
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__input {
        display: block;
        border: 2px solid rgb(3, 204, 205);
        border-radius: 5px;
        background: rgb(242, 242, 242);
        max-width: 850px;
        width: 100%;
        height: clamp(3rem, 3vw + 0.75rem, 6rem);
        padding: 0 clamp(1rem, 1vw + 0.5rem, 2rem);
        font-size: clamp(1.6rem, 2vw + 0.5rem, 2.8rem);
        font-weight: 700;
        line-height: clamp(3rem, 3vw + 0.75rem, 6rem);
        margin-bottom: clamp(1.5rem, 2vw + 0.5rem, 3rem);
        &::placeholder {
            color: rgb(175, 175, 175);
        }
        &:last-of-type{
            margin-bottom: clamp(2rem, 2vw + 1.25rem, 4rem);
        }
        &--message {
            height: 100px;
        }
    }
    &__submit {
        width: clamp(23rem, 30vw + 0.25rem, 28rem);
        height: clamp(4rem, 5vw + 1rem, 7rem);
        color: var.$button-text;
        background-color: transparent;
        font-size: 20px;
        font-weight: 700;
        display: block;
        margin: 0 auto;
        border-radius: 10px;
        background: rgba(255, 210, 82, 0.73);
    }
}
