@use "../variables" as var;

.parents {
    background: radial-gradient(58.00% 58.00% at 50% 50%,rgba(234, 200, 255, 0.55),rgba(234, 200, 255, 0) 100%);
    padding-top: clamp(2rem, 3vw + 0.75rem, 5rem);
    padding-bottom: clamp(1rem, 2vw + 0.25rem, 3rem);
    &__title {
        text-align: center;
        margin-bottom: clamp(2rem, 2vw + 1rem, 4.5rem);
    }
    &__cards {
        display: flex;
        gap: clamp(2rem, 2vw + 1rem, 3rem);
        justify-content: center;
        margin-bottom: 35px;
        &--fullpage {
            flex-wrap: wrap;
        }
        @media (max-width: 1040px){
            flex-wrap: wrap;
        }
    }
    &__card-btn,
    &__card,
    &__showall {
        border: 2px solid rgb(50, 29, 113);
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        max-width: clamp(30rem, 35vw + 0.75rem, 50rem);
        width: 100%;
        padding: 10px 15px 20px;
    }
}
