@use "../variables" as var;

.teachers {
    background: radial-gradient(48.00% 48.00% at 50% 41%,rgba(173, 207, 231, 0.44),rgba(154, 224, 251, 0) 100%);
    padding-top: 50px;
    padding-bottom: 30px;
    &__title {
        text-align: center;
        margin-bottom: 60px;
    }
    &__cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px,500px));
        gap: 30px;
        justify-content: space-between;
        margin-bottom: 35px;
    }
    &__card-btn,
    &__card,
    &__showall-btn {
        border: 1px solid rgb(127, 206, 255);
        border-radius: 10px;
    }
    &__showall-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 70px;
        color: var.$button-text;
        background-color: transparent;
        font-size: 20px;
        font-weight: 700;
        margin: 0 auto;
    }
    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px 20px;
    }
}
